@model ForgotPasswordViewModel
@using task_one_v2.ViewModel
@using task_one_v2.App_Core.ConstString
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization


@{
    Layout = ConstantApp.authLayout;
}




<h2>Password reset link sent</h2>
<p>If an account with that email address exists, you will receive an email with instructions to reset your password.</p>
