@model ResetPasswordViewModel
@using task_one_v2.ViewModel
@using task_one_v2.App_Core.ConstString
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization


@{
    Layout = ConstantApp.authLayout;
}


<h3 class="card-title text-left mb-3">Forget Password</h3>

<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Token" />
    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>

