@model Category
@using task_one_v2.App_Core.ConstString
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@{
    Layout = ConstantApp.adminLayout;
}
@* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// *@


<div class="container">
    <h3>@localizer["delete"]</h3>

    <h5>
        <span>
            @localizer["Are you sure you want to delete this category?"] @Model.CategoryName
        </span>
    </h5>

    <form asp-action="Delete" class="mb-5">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>

    <div class="text-center">
        <img class="img-fluid rounded" src="@Url.Content(ConstantApp.wwwImgPath + Model.ImageCategory)" style="max-width: 400px;" />
    </div>
</div>


    


