@model IEnumerable<Category>


@using task_one_v2.App_Core.ConstString
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer

@{
    Layout = ConstantApp.chefLayout;
    List<Category> categories = ViewBag.categories;
}
<!-- Categories Start -->
<div class=" pb-3">
    <div class="container">
                   <div class="row g-4">
            @foreach (var i in categories)
            {
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a asp-action="GetRecipeByCategoryId" asp-route-id="@i.CategoryId">
                        <div class="team-item text-center rounded overflow-hidden">
                            <h5 class="mb-0 mt-3">@i.CategoryName</h5>
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="@Url.Content(ConstantApp.wwwImgPath + i.ImageCategory)" alt="" style="height: 300px; ">
                            </div>
                            <small class="mb-3">@localizer["Read more"]</small>
                        </div>
                    </a>
                    </div>
            }
         </div>
    </div>
</div>
<!-- Categories End -->

